
  	  {% if author.rg %}
        <li>
          <a href="https://www.researchgate.net/profile/{{ author.rg }}" itemprop="sameAs">
            <i class="ai fa-fw ai-researchgate-square" aria-hidden="true"></i> ResearchGate
          </a>
        </li>
      {% endif %}
	  
	  {% if author.orcid %}
        <li>
          <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs">
            <i class="ai fa-fw ai-orcid-square" aria-hidden="true"></i> OrcID
          </a>
        </li>
      {% endif %}
	  
	  {% if author.figshare %}
        <li>
          <a href="https://figshare.com/authors/{{ author.figshare }}" itemprop="sameAs">
            <i class="ai fa-fw ai-figshare" aria-hidden="true"></i> figshare
          </a>
        </li>
      {% endif %}
	  	  
	  {% if author.telephone %}
        <li>
          <a href="tel:{{ author.telephone }}" itemprop="phone">
            <i class="fab fa-fw fa-whatsapp" aria-hidden="true"></i> {{ author.telephone }}
          </a>
        </li>
      {% endif %}
	  
	  {% if author.lattes %}
		<li>
		  <a href=" http://lattes.cnpq.br/{{ author.lattes }}" itemprop="sameAs">
			<i class="ai fa-fw ai-lattes" aria-hidden="true"></i> Lattes
		  </a>
		</li>  
	  {% endif %}

